@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg-color);
  --color-foreground: var(--text-color);
  --color-card: var(--card-color);
  --color-primary: #FD7306;
  --color-icon: var(--icon-color); /* Naya icon color variable */
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;      /* Light mode text */
  --icon-color: #000000;      /* Light mode icons */
  --card-color: #F0F0F0;
}

.dark {
  --bg-color: #090E2D;
  --text-color: #9CA3C9;      /* Dark mode text */
  --icon-color: #FFFFFF;      /* Dark mode icons */
  --card-color: #0C1445;
}

@layer base {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    @apply transition-colors duration-300 antialiased;
  }
}